<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <title>Login-screen</title>
  </head>
  <body>

    <div class="container">
        <div class="row">
            <div class="login-container">
                <div class="row log-wall">
                    <div class="col-md-6 bg-lite">
                        <div class="p20">
                            <h1 class="login-title">LOGIN</h1>
                            <div class="login-screen">
                                <form class="login">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Email" required autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" value="remember-me">&nbsp;Keep me Signed in
                                    </div>
                                    <div class="">
                                        <button class="btn btn-large btn-block btn-primary" type="submit">LOGIN</button>
                                    </div>
                                    <div class="text-center">
                                        <a href="#">Forgot Password? </a><span class="clearfix"></span>
                                    </div>   
                                </form>
                                </div>
                        </div>
                    
                    </div>
        
                    <div class="col-md-6 bg-wall hidden-sm hidden-xs text-center">
                        <div class="wall">
                            <h1>Brand Name</h1>
                        </div>
                        
                    </div>
        
                </div>
            </div>
        </div>
        
    </div>


   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
  </html>